.add-place {
  position: fixed;
  height: 100vh;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  width: 100vw;
  background: rgba(15, 15, 15, 0.3);
  z-index: 200;
  backdrop-filter: blur(0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-place .box {
  padding: 0.35rem;
  background: #f5f6f7;
  border-radius: 6px;
  box-shadow: 0px 4px 40px rgba(240, 240, 240, 0.15);
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  max-width: 50%;
  height: 2.7rem;
  position: relative;
}
.add-place-child {
}
.search-item {
  margin: auto 0.4rem !important;
  padding: 0.25rem 0;
}
.completion-item {
  background: #fff;
  width: 100%;
  color: #0f0f0f !important;
}
.completion-box  {
  height: auto;
}
