h1,
.heading {
  font-size: 3rem;
  font-weight: 400;
}

.app-container {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.heading-small {
  font-size: 1.2rem;
  font-weight: 400;
}

.sep {
  width: 50%;
  margin: 0.2rem auto;
}
.sep.sep-left {
  margin: 0.2rem 0;
  border-radius: 2px;
}
.sep.sep-40 {
  width: 35%;
}

.clear-day {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/clear-day.jpg");
}
.clear-night {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/clear-night.jpg");
}
.clouds-day {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/clouds-day.jpg");
}
.clouds-night {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/clouds-night.jpg");
}
.rain-day {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/rainy-day.jpg");
}
.rain-night {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/rainy-night.jpg");
}
.snow-day {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/rainy-night.jpg");
}
.snow-night {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/rainy-night.jpg");
}
.thunderstorm {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/thunderstom.jpg");
}
