.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
}

.extra-container {
  display: flex;
  flex-direction: row;
  background: rgba(15, 15, 15, 0.7);
  box-shadow: 0px 4px 40px rgba(255, 255, 255, 0.07);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.extra-container > .heading-small {
  text-align: center;
  justify-content: center;
}

.extra-box {
  margin: 0.3rem 1rem;
  justify-content: center;
  text-align: center;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .extra-container {
    background: rgba(15, 15, 15, 0.3);
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
  }
}
