* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0 !important;
  color: #fff;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.4s ease !important;
}

#root {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  font-style: lighter;
}
li,
a,
li > h3 {
  font-size: 1.5rem !important;
}
input {
  border: 0px;
  outline: none;
  font-size: 1.5rem;
}
