.sidebar-container {
  padding: 1.5rem;
  background: rgba(15, 15, 15, 0.7);
  box-shadow: 0px 4px 40px rgba(240, 240, 240, 0.15);
  backdrop-filter: blur(0.8rem);
  overflow: auto;
}
.sidebar-container::-webkit-scrollbar {
  display: none;
}
.sidebar-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-self: center;
  justify-self: center;
}

li > .heading-small {
  font-weight: bold;
}
.sidebar-container li {
  margin: 1rem 0;
}
.nav-link {
  font-weight: normal;
  cursor: pointer;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sidebar-container {
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
  }
}
